swagger: "2.0"
info:
  title: Capture Order API
  description: Capture Order
  version: 1.0.0
basePath: /v1
paths:
  /order:
    post:
      operationId: post
      description: Capture order
      summary: Add an order to the database
      consumes:
      - "application/json"
      produces:
      - "application/json"
      tags:
      - order
      parameters:
      - in: body
        name: body
        description: body for order content
        required: true
        schema:
          $ref: '#/definitions/models.Order'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/apiresponse.OrderAddResult'
        500:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/apiresponse.ErrorResult'
    get:
      operationId: get
      description: Get order count
      summary: Get a count of the orders in the database
      tags:
      - order
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/apiresponse.OrderCountResult'
        500:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/apiresponse.ErrorResult'
          
definitions:
  models.Order:
    title: Order
    required:
    - ID
    - EmailAddress
    - Product
    - Total
    - Status
    type: object
    properties:
      EmailAddress:
        description: Email address of the customer
        type: string
      ID:
        description: ID - will be autogenerated
        type: string
      PreferredLanguage:
        description: Preferred Language of the customer
        type: string
      Product:
        description: Product ordered by the customer
        type: string
      Status:
        description: Order Status
        type: string
      Total:
        description: Order total
        type: number
        format: double
  
  apiresponse.OrderAddResult:
      title: OrderAddResult
      type: object
      properties:
        id:
          type: string
          description: The inserted order id  
          
  apiresponse.OrderCountResult:
      title: OrderCountResult
      type: object
      properties:
        orderCount:
          type: integer
          description: The number of orders in the database.
        timestamp:
          type: string
          description: The current timestamp.

  apiresponse.ErrorResult:
      title: ErrorResult
      type: object
      properties:
        error:
          type: string
          description: The error message.

tags:
- name: order
